.logo{
    height: 80px;
}
.rounded {
    border-radius: var(--bs-border-radius)!important;
}
.h1, h1 {
    font-size: calc(1.375rem + 1.5vw);
    font: bold;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}
.text-body-emphasis {
    --bs-text-opacity: 1;
    color: #fff!important;
}